<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script>
    if('serviceWorker' in navigator) {
      navigator.serviceWorker
               .register('/serviceworker.js')
               .then(function() {
              //   console.log("Service Worker Registered");
                });
    }
    </script>
  <% include partial/head %>
</head>

<body>&nbsp;
  <% include partial/menu %>
  <h1>
    <%= title %>
  </h1>
  <!--ul>
    <% for (var arrdpt in arr_bctusdt){%>
    <li>
      <%=arrdpt%>:
      <%=arr_bctusdt[0]%>
    </li>
    <%}%>
  </ul>
  <ul>
    <%for (var aprices in arr_alerton[0]){%>
    <li>
      <%=aprices%>:
      <%=arr_alerton[0][aprices]%>
    </li>
    <%}%>
  </ul>
  <ul>
    <%for (var arrcurr in arr_currencytype){%>
    <li>
      <%=arrcurr%>:
      <%=arr_currencytype[arrcurr]['values']%>
    </li>
    <%}%>
  </ul>
  <ul>
    <%for (var arrcurre in arr_currency){%>
    <li>
      <%=arrcurre%>:
      <%=arr_currency[arrcurre]['symbol']%>
    </li>
    <%}%>
  </ul-->

  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s3">
            <select onchange="defaultPrices()" name="currency" id="currency" placeholder="Id" class="chosen-select form-control">
              <%for (var arrcurre in arr_currency){%>
              <option value='<%=arr_currency[arrcurre]['price'].toLowerCase() %>'><%=arr_currency[arrcurre]['symbol']%></option>
              <%}%>
            </select>
            <label for="fullname">Currency</label>
            <input type="hidden" id="bctusdttxt" name="custId" value="<%=arr_bctusdt.price; %>">
          </div>
          <div class="input-field col s3">
            <select class="chosen-select form-control" id="alertOn">
              <%for (var aprices in arr_alerton){%>
              <option value='<%=arr_alerton[aprices]['values']%>'>
                <%=arr_alerton[aprices]['labels']%>
              </option>
              <%}%>
            </select>
            <label for="fullname">Price</label>
          </div>
          <div class="input-field col s3">
            <select class="chosen-select form-control" onchange="disableInputs1()" id="currencytype">
              <%for (var currencytypes in arr_currencytype){%>
              <option value='<%=arr_currencytype[currencytypes]['values']%>'>
                <%=arr_currencytype[currencytypes]['labels']%>
              </option>
              <%}%>
            </select>
            <label for="fullname">Currency Type</label>
          </div>
          <div class="input-field col s3">
            <select class="chosen-select form-control" id="alertoptions">
              <%for (var aoptions in arr_alertoptions){%>
              <option value='<%=arr_alertoptions[aoptions]['values']%>'>
                <%=arr_alertoptions[aoptions]['labels']%>
              </option>
              <%}%>
            </select>
            <label for="fullname">Alert Options</label>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">attach_money</i>
                <input class="form-control" type="text" id="priceusd1" placeholder="Price 1(USD)">
              </div>
            </div>
          </div>
          <div class="col s6">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">blur_circular</i>
                <input class="form-control" type="text" id="pricebtc1" placeholder="Price 1(Native)">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">attach_money</i>
                <input class="form-control" type="text" id="priceusd2" placeholder="Price 2(USD)">
              </div>
            </div>
          </div>
          <div class="col s6">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">blur_circular</i>
                <input class="form-control" type="text" id="pricebtc2" placeholder="Price 2(Native)">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <button class="btn cyan waves-effect waves-light blue right" id='btnTambah' onclick="functionrunningnow();" value="Tambah">Setup Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include partial/footer %>
  <script>
    defaultdisables();

    function defaultdisables() {
      document.getElementById("pricebtc1").disabled = true;
      document.getElementById("priceusd2").disabled = true;
      document.getElementById("pricebtc2").disabled = true;
    }

    function disableInputs1() {
      var x1 = document.getElementById("alertoptions").value;
      var x2 = document.getElementById("currencytype").value;
      if (x2.toLowerCase() == 'usdt') {
        document.getElementById("pricebtc1").disabled = true;
        document.getElementById("priceusd1").disabled = false;
        if (x1 == 'gte' || x1 == 'lte') {
          document.getElementById("pricebtc2").disabled = true;
          document.getElementById("priceusd2").disabled = true;
        } else {
          document.getElementById("pricebtc2").disabled = true;
          document.getElementById("priceusd2").disabled = false;
        }

      } else {
        document.getElementById("priceusd1").disabled = true;
        document.getElementById("pricebtc1").disabled = false;

        if (x1 == 'gte' || x1 == 'lte') {
          document.getElementById("priceusd2").disabled = true;
          document.getElementById("pricebtc2").disabled = true;
        } else {
          document.getElementById("priceusd2").disabled = true;
          document.getElementById("pricebtc2").disabled = false;
        }

      }
    }

    function disableInputs2() {
      var x1 = document.getElementById("alertoptions").value;
      var x2 = document.getElementById("currencytype").value;
      if (x1 == 'gte' || x1 == 'lte') {
        document.getElementById("pricebtc2").disabled = true;
        document.getElementById("priceusd2").disabled = true;
      } else {
        if (x2.toLowerCase() == 'usdt') {
          document.getElementById("priceusd2").disabled = false;
        } else {
          document.getElementById("pricebtc2").disabled = false;
        }
      }
    }

    function defaultPrices() {
      var sym = document.getElementById("currency").value;
      var lbl = jQuery("#currency").find("option[value='" + jQuery("#currency").val() + "']").text();

      if (lbl.substr(lbl.length - 4, lbl.length) == 'USDT') {
          document.getElementById("priceusd1").value = sym;
          document.getElementById("pricebtc1").value = '';
      }
      if(lbl.substr(lbl.length - 3, lbl.length) == 'BTC'){
          var np,up;
          document.getElementById("pricebtc1").value = sym;
          np = sym;
          console.log(bctusdttxt);
          up = document.getElementById("bctusdttxt").value;
          document.getElementById("priceusd1").value = np*up;
          //Call Second REST API
          // var ourRequest2 = new XMLHttpRequest();
          // ourRequest2.open('GET','https://api.binance.com/api/v3/ticker/price?symbol=BTCUSDT',true);
          // ourRequest2.onload = function(){
          //     ourData2 = JSON.parse(ourRequest2.responseText);
          //     document.getElementById("priceusd1").value = np*ourData2["price"];
          // }
          // ourRequest2.send();
      }
    }
  </script>
</body>

</html>
