<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script>
    if('serviceWorker' in navigator) {
      navigator.serviceWorker
               .register('/serviceworker.js')
               .then(function() {
              //   console.log("Service Worker Registered");
                });
    }
    </script>
  <% include partial/head %>
</head>

<body>&nbsp;
  <% include partial/menu %>
  <h1>
    <%= title %>
  </h1>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="fullname" value="" placeholder="Full Name" type="text" class="validate inputconfig">
            <label for="fullname">Full Name</label>
          </div>
          <div class="input-field col s6">
            <input id="email" type="text" value="" placeholder="Email"  class="validate inputconfig">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">location_city</i>
                <input type="text" id="hotelcode" value="" placeholder="Hotelcode"  class="autocomplete inputconfig">
                <label for="hotelcode">Hotelcode</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <button class="btn cyan waves-effect waves-light blue right" id='btnTambah' onclick="functionrunningnow();" value="Tambah">Setup Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>Welcome to
    <%= title %>
  </p>

  <% include partial/footer %>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.autocomplete');
    //  var instances = M.Autocomplete.init(elems, options);
    });


    // Or with jQuery

    $(document).ready(function() {
      $('input.autocomplete').autocomplete({
        data: {
          "htbj": 'Harris Tebet Jakarta',
          "ptbj": 'Pop! Tebet Jakarta',
          "hbks": 'Harris Bekasi'
        },
      });
    });



    var fullnames = document.getElementById('fullname'),
        emails = document.getElementById('email'),
        hotelcodes = document.getElementById('hotelcode'),
        db;

    function buatDatabase() {
      var request = window.indexedDB.open('ConfigTbl', 1);
      request.onerror = kesalahanHandler;
      request.onupgradeneeded = function(e) {
        var db = e.target.result;
        db.onerror = kesalahanHandler;
        var objectstore = db.createObjectStore('configareadb', {
          keyPath: 'email'
        });
        console.log("Object store Configuration Area berhasil dibuat");
      }
      request.onsuccess = function(e) {
        db = e.target.result;
        db.onerror = kesalahanHandler;
        console.log("Berhasil melakukan koneksi ke database!");
        bacaDariDatabase();
      }
    }

    function kesalahanHandler(e) {
      console.log('Kesalahan Database: ' + e.target.errorCode);
    }


    function cetakPesanHandler(msg) {
      return function(e) {
        console.log(msg);
      }
    }

    function buatTransaksi() {
      var transaction = db.transaction(['configareadb'], 'readwrite');
      transaction.onerror = kesalahanHandler;
      transaction.oncomplete = cetakPesanHandler('Transaksi baru saja diselesaikan.');
      return transaction;
    }

    function tambahKeDatabase(datasubmit) {
      var objectstore = buatTransaksi().objectStore('configareadb');
      var request = objectstore.add(datasubmit);
      request.onerror = kesalahanHandler;
      request.onsuccess = cetakPesanHandler('ConfigArea [' + datasubmit.email + '] telah ditambahkan ke database lokal.');
    }
    // load data


    function functionrunningnow(){
      if(fullnames.value != "" && emails.value != "" && hotelcodes.value != ""){
          tambahKeDatabase({
            fullname: fullnames.value,
            email: emails.value,
            hotelcode: hotelcodes.value
          });
      }else{
          alert("Check Your Field");
      }
    }

    // Menampilkan dari database
    function bacaDariDatabase() {
        var objectstore = buatTransaksi().objectStore('configareadb');
        objectstore.openCursor().onsuccess = function(e) {
            var result = e.target.result;
            if (result) {
              // alert(result.value.email);
                document.getElementById("fullname").disabled = true;
                document.getElementById("fullname").value = result.value.fullname;
                $("#fullname").addClass('active');
                document.getElementById("email").disabled = true;
                document.getElementById("email").value = result.value.email;
                $("#email").addClass('active');
                document.getElementById("hotelcode").disabled = true;
                document.getElementById("hotelcode").value = result.value.hotelcode;
                $("#hotelcode").addClass('active');
                result.continue();
            }
        }
    }

      buatDatabase();
  </script>
</body>

</html>
