<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
    if('serviceWorker' in navigator) {
      navigator.serviceWorker
               .register('/serviceworker.js')
               .then(function() { console.log("Service Worker Registered"); });
    }
    </script>
    <% include partial/head %>
  </head>
  <body>
    <% include partial/statusofflineonline %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% include partial/footer %>
  </body>
</html>
