<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script>
    if('serviceWorker' in navigator) {
      navigator.serviceWorker
               .register('/serviceworker.js')
               .then(function() {
              //   console.log("Service Worker Registered");
                });
    }
    </script>
  <% include partial/head %>
</head>

<body>&nbsp;
  <% include partial/menu %>
  <h1>
    <%= title %>
  </h1>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="fullname" value="" placeholder="Full Name" type="text" class="validate inputconfig">
            <label for="fullname">Full Name</label>
          </div>
          <div class="input-field col s6">
            <input id="email" type="text" value="" placeholder="Email"  class="validate inputconfig">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">location_city</i>
                <input type="text" id="hotelcode" value="" placeholder="Hotelcode"  class="autocomplete inputconfig">
                <label for="hotelcode">Hotelcode</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <button class="btn cyan waves-effect waves-light blue right" id='btnTambah' onclick="functionrunningnow();" value="Tambah">Setup Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>Welcome to
    <%= title %>
  </p>

  <% include partial/footer %>
  <script>
  $(document).ready(function() {
      $.ajax({
        type:"GET",
        dataType:"jsonp",
          url: "https://api.tauziahotels.net/hotelcode/fdd4637c67f5c1863a291d0c15613ada1cc06b8f3fccb98b7ea2e5ae400e7eda5b6453a3a6f38a3bcc0020439a5fe3a6559166fada56fc88cab8524fe823c236gXgYUkaqqn6wfYZqyTwAw7OzbBf65TaAy4Ln9MKWOEfdzCX4P0P7acewLVb9T5Q-"
      }).then(function(data) {
         console.log(data);
      });
  });
  </script>
</body>

</html>
