body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#online.show{
  display: block;
}
#online.hide{
  display: none;
}
#offline.show{
  display: block;
}
#offline.hide{
  display: none;
}
#notstatus.show{
  display: block;
}
#notstatus.hide{
  display: none;
}
