<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START FOOTER -->
<footer class="page-footer gradient-45deg-light-blue-cyan">
<div class="footer-copyright">
<div class="container">
    <span>Copyright ©
        <script type="text/javascript">
            document.write(new Date().getFullYear());
        </script> <a class="grey-text text-lighten-2" href="http://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" target="_blank">PIXINVENT</a> All rights reserved.</span>
    <span class="right hide-on-small-only"> Design and Developed by <a class="grey-text text-lighten-2" href="https://pixinvent.com/">PIXINVENT</a></span>
</div>
</div>
</footer>
<!-- END FOOTER -->
<!-- ================================================
Scripts
================================================ -->
<!-- jQuery Library -->
<script type="text/javascript" src="/assets/vendors/jquery-3.2.1.min.js"></script>
<!--materialize js-->
<script type="text/javascript" src="/assets/js/materialize.min.js"></script>
<!--prism-->
<script type="text/javascript" src="/assets/vendors/prism/prism.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="/assets/js/plugins.js"></script>
<!--custom-script.js - Add your own theme custom JS-->
<script type="text/javascript" src="/assets/js/custom-script.js"></script>

<script>

checkOnline();
function checkOnline() {
  setInterval("doOnlineCheck()", 3000);
}

function doOnlineCheck() {
  $("#offline").removeClass("show");
  $("#online").removeClass("show");
  $("#notstatus").removeClass("show");
  $("#offline").removeClass("hide");
  $("#online").removeClass("hide");

  if(navigator.onLine) {
  //  console.log("online");
    $("#online").addClass("show");
    $("#offline").addClass("hide");
    $("#notstatus").addClass("hide");
  }else{
  //  console.log("offline");
    $("#offline").addClass("show");
    $("#online").addClass("hide");
    $("#notstatus").addClass("hide");
  }
}
  </script>
