<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="msapplication-tap-highlight" content="no">
<meta name="description" content="Tauzia Database">
<meta name="keywords" content="Tauzia Database">
<title>TBASE -  TAUZIA DATABASE</title>
<!-- Favicons-->
<link rel="icon" href="https://www.tauziahotels.com/tauzia-favicon.ico" sizes="32x32">
<!-- Favicons-->
<link rel="apple-touch-icon-precomposed" href="https://www.tauziahotels.com/tauzia-favicon.ico">
<!-- For iPhone -->
<meta name="msapplication-TileColor" content="#00bcd4">
<meta name="msapplication-TileImage" content="https://www.tauziahotels.com/tauzia-favicon.ico">
<!-- For Windows Phone -->
<!-- CORE CSS-->
<link href="/assets/css//materialize.css" type="text/css" rel="stylesheet">
<link href="/assets/css//style.css" type="text/css" rel="stylesheet">
<!-- Custome CSS-->
<link href="/assets/css/custom/custom.css" type="text/css" rel="stylesheet">
<!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
<link href="/assets/vendors/prism/prism.css" type="text/css" rel="stylesheet">
<link href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
<link href="/assets/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<meta name="robots" content="nofollow" />
