<nav>
  <div class="nav-wrapper">
   <a href="#" class="brand-logo"><% include statusofflineonline %></a>
   <ul id="nav-mobile" class="right hide-on-med-and-down">
   <li><a href="/transaction">History Transaksi</a></li>
     <li><a href="/config">Config</a></li>
     <li><a href="collapsible.html">JavaScript</a></li>
   </ul>
  </div>
</nav>
