<div id="notstatus" class="show">
  <button class="btn waves-effect waves-light gray pulse" type="submit" name="action">Check Connection</button>
</div>
<div id="online" class="hide">
  <button class="btn waves-effect waves-light blue pulse" type="submit" name="action">Online</button>
</div>
<div id="offline" class="hide">
  <button class="btn waves-effect waves-light red pulse" type="submit" name="action">Offline</button>
</div>
